body{
    background-color: whitesmoke;
}
.parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(8,1fr);
    gap: 10px;
    /* background-color: green; */
}
.ch{
    padding: 10px;
    text-align: center;
    background-color: yellow;
}
.one{
    grid-row: 1/4;
    grid-column: 1/5;
    /* padding: 20px; */

}
.two{
    grid-row: 4/8;
    grid-column: 1/2;
}
.three{
    grid-row: 4/5;
    grid-column: 2/3;
}
.four{
    grid-row: 4/6;
    grid-column: 3/4;
}
.five{
    grid-row:4/7;
    grid-column: 4/5;
}
.six{
    grid-row: 5/8;
    grid-column: 2/3;
}
.seven{
    grid-row: 6/7;
    grid-column: 3/4;
}
.eight{
    grid-row: 7/8;
    grid-column: 3/4;
}
.nine{
    grid-row:7/8;
    grid-column: 4/5;
}